.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.justified-content-center {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.intropic{
  border-radius: 50%;
}

.body-text{
  font-family: montserrat,sans-serif;
}

.prompt{
  text-shadow: 2px 2px 3px #6d6b6b;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
  color: rgb(51, 51, 51);
  box-shadow: #282c34;
  text-shadow: #282c34;
  font-family: montserrat,sans-serif;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: montserrat,sans-serif;
}
.App-desc {
  background-color: #a5b6d9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: justify;
  text-justify: inter-word;
  font-family: montserrat,sans-serif;
}
.App-proj {
  background-color: #d9dfea;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: montserrat,sans-serif;
}
.App-blog {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: montserrat,sans-serif;
}
.App-stack {
  background-color: #d9dfea;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: montserrat,sans-serif;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img.profimg{
  border-radius: 50%;
  max-width: 213px;
}

img.profimg {
  transition: all 0.3s ease;
}

img.profimg:hover {
  box-shadow: 0.4rem 0.4rem 0 #a5b6d9;
  transform: translate(-0.4rem, -0.4rem);
  background-color: rgb(252, 252, 252);
}

img.profimg:active {
  box-shadow: 0 0 0 black;
  transform: translate(0, 0);
  background-color: rgb(252, 252, 252);
}

.media-link {
  transition: all 0.3s ease;
}

.media-link:hover {
  box-shadow: 0.4rem 0.4rem 0 black;
  transform: translate(-0.4rem, -0.4rem);
  background-color: rgb(252, 252, 252);
}

.media-link:active {
  box-shadow: 0 0 0 black;
  transform: translate(0, 0);
  background-color: rgb(252, 252, 252);
}

.navbar-font{
  font-family: montserrat,sans-serif;
}

.footer-font{
  font-family: montserrat,sans-serif;
}